---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../quick.css";
import { strictObject } from "astro:schema";
import { getImages } from "../../utils/albums";
import { isTemplateExpression } from "typescript";
import "../quick.css";

export async function getStaticPaths() {
  const albums = await getCollection("albums");

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });

  return paths;
}
const { album } = Astro.props;
const albumImages = await getImages(album.id);

//{album.id.toUpperCase().split("").join(" ")}
---

<Layout title={album.data.title}>
  <div class="">
    <div class="albumHeading">{album.id.toUpperCase().split("").join(" ")}</div>
    <div class="content-center">
      <div class="content-center mx-4 columns-1 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
        {
          albumImages.map((item) => (
            <Image src={item} alt="bruh" format="avif" quality="mid" class="imagePadding" loading="lazy" />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
