.nav-bar-home{
    background: black;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px;
    border-bottom-style:solid;
    border-bottom-color:#282828;
    font-family: 'Poppins-Light';
    -webkit-tap-highlight-color: transparent;
    display:flex;
}

.font{
    font-family: 'Poppins-Regular';
}

.krzysztof{
    float:left;
    color:white;
    font-size:3em;
}

.other-menu-opts{
    float:right;
    font-size:1.5em;
}

a {
    text-decoration: none;
    color:white;
}
