---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar";
---

<Layout title="Welcome to Astro.">
  <main></main>
</Layout>

<style></style>
